#About .about-container {
    width: 100%;
    padding: 0 4em;

    display: flex;
    flex-direction: row;

    .image img {
        width: 60em;
        height: auto;
        @include rounded(em(10));
        object-fit: cover;
    }
    .content {
        max-width: 60%;
        padding: {
            left: 4em;
        }

        font: {
            size: 1.1em;
        }

        text-align: justify;
    }
}

@media (max-width: 900px) {
    #About .about-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .content {
            padding: 0;
            max-width: 99%;
        }
    }
}
@media (max-width: 600px) {
    #About .about-container {
        padding: {
            top: $nav-height;
            left: 1em;
            right: 1em;
        }
    }
}
@media (max-width: 500px) {
    #About .about-container .content {
        font-size: 1em;
    }
}
@media (max-width: 450px) {
    #About .about-container .content {
        font-size: 0.8em;
    }
}
