#Certificates {
    background-color: #131313;
    h3 {
        color: $color-text-light;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    }
    .certificates-container {
        width: 100%;
        padding: 0 4em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .item {
            width: 13em;
            height: auto;
            margin: 0.4em 0.4em;

            a,
            img {
                width: 100%;
                height: 100%;
            }
            @include box-shadow(0 4px 8px 0px rgba(0, 0, 0, 0.089));
        }
    }
    .foot {
        width: 100%;
        height: 10em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.5em 1em;
        span {
            color: darken($color-text-light, 50);
            margin: 0.5em;
            opacity: 0.6;
        }
        a {
            color: darken($color-text-light, 60);

            &::after {
                content: "|";
                margin: 0.2em;
            }
        }
    }
}
@media (max-width: 650px) {
    #Certificates .foot {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 600px) {
    #Certificates .certificates-container {
        padding: {
            top: $nav-height;
            left: 1em;
            right: 1em;
        }
    }
}
