#Contact .contact-container {
    width: 100%;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: {
        left: 8em;
        right: 8em;
    }

    form {
        width: 40em;
        padding: 3em 1em;
        min-height: 27em;
        background-color: rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: column;
        align-items: center;
        @include rounded(em(8));

        .fields {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            input {
                width: 15em;
                padding: 0.2em 0.5em;
                margin: 2em 0.2em;
                height: 2em;
                outline: none;
                background-color: transparent;
                border: none;
                border-bottom: 4px solid $color-primary;
            }
        }

        input {
            width: 30.4em;
            height: 2em;
            padding: 0.2em 0.5em;
            margin: 2em 0.2em;
            outline: none;
            background-color: transparent;
            border: none;
            border-bottom: 4px solid $color-primary;
        }

        textarea {
            width: 30.4em;
            min-height: 5em;
            padding: 0.2em 0.5em;
            margin: 2em 0.2em;
            resize: vertical;
            outline: none;
            background-color: transparent;
            border: none;
            border-bottom: 4px solid $color-primary;
        }

        button {
            padding: 0.4em 0.6em;
            background-color: $color-primary;
            outline: none;
            border: 4px solid $color-primary;
            color: $color-text-light;
            @include rounded(em(8));
            font: {
                size: 1.05;
                weight: 500;
            }
            transition: background-color $animation-speed;
            &:hover {
                background-color: transparent;
            }
        }
    }
}
@media (max-width: 700px) {
    #Contact .contact-container form {
        width: 98%;
        .fields {
            flex-direction: column;
            justify-content: center;

            input {
                width: 90%;
                margin: 1.5em 0.2em;
            }
        }
        input,
        textarea {
            width: 90%;
            margin: 1.5em 0.2em;
        }
    }
}
@media (max-width: 600px) {
    #Contact .contact-container {
        padding: {
            top: $nav-height;
            left: 1em;
            right: 1em;
        }
    }
}
