.footer {
    width: 100%;
    height: $footer-height;

    background-color: $color-footer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    p {
        color: $color-text-light;
        margin: 0;
        text-align: center;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
            margin: {
                left: 0.5em;
                right: 0.5em;
            }

            a {
                color: $color-text-light;
                i {
                    font-size: 1.3em;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .footer {
        margin-bottom: 60px;
    }
}
@media (max-width: 650px) {
    .footer {
        height: calc(#{$footer-height} + 2em);
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        ul {
            margin-top: 0.3em;
        }
    }
}

@media (max-width: 450px) {
    .footer p {
        font-size: 0.8em;
    }
}
