.header {
    width: 100%;
    height: 100vh;

    background-image: url("/assets/img/background.svg");
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;

    .content {
        width: 100%;
        height: calc(100vh - #{$nav-height});
        padding: {
            top: $nav-height;
            left: 4em;
        }

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h1 {
            color: $color-text-light;
            margin: 0;
            font: {
                size: 2.8em;
            }

            span {
                color: $color-primary;
                letter-spacing: 0.02em;
                font-size: 0.8em;
            }
        }

        p {
            color: darken($color-text-light, 5);
            margin-top: 0.3em;
            font: {
                size: 2em;
            }

            span {
                color: $color-primary;
                font: {
                    size: 1.1em;
                    weight: 500;
                }
            }
        }

        a {
            padding: 0.4em 0.6em;

            color: $color-text-light;
            border: 4px solid $color-primary;
            background-color: $color-primary;

            @include rounded(em(8));

            @include box-shadow;

            font: {
                size: 1.3em;
                weight: 500;
            }

            transition: background-color $animation-speed;

            &:hover {
                background-color: transparent;
            }
        }
    }
}
@media (max-width: 500px) {
    .header .content {
        padding-left: 1.5em;
    }
}
@media (max-width: 400px) {
    .header .content {
        h1 {
            font-size: 1.8em;
        }
    }
    p {
        font-size: 1.3em;
        span {
            font-size: 1.4em;
        }
    }
}
