.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: $nav-height;

    padding: 0.5em 0.8em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include box-shadow;

    .nav-logo {
        color: $color-text-light;
        letter-spacing: 0.08em;
        font: {
            size: 1.4em;
            weight: 600;
        }
        span {
            color: $color-primary;
        }
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;

        list-style: none;

        .nav-item {
            margin: {
                left: 0.5em;
                right: 0.5em;
            }
        }

        .nav-link {
            color: $color-text-light;
            font: {
                size: 1.1em;
                weight: 500;
            }
            transition: color $animation-speed;

            position: relative;

            // &:hover {
            //     color: rgba(255, 255, 255, 0.418);
            // }
            &:hover::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.15em;
                left: 0;
                top: 1.2em;
                background-color: darken($color-primary, 10);
                animation: line 0.4s;

                @include box-shadow;
            }
        }
    }
    #theme {
        background-color: transparent;
        color: $color-text-light;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.2em 0.4em;

        i {
            font-size: 1.2em;
        }
    }
    transition: all 0.4s ease;
}

.active {
    background-color: $color-primary;
    height: em(60);
}
.active > .nav-logo span {
    color: $color-text-light;
}

.active > .nav .nav-list .nav-item .nav-link:hover::after {
    background-color: $color-text-light;
}
@keyframes line {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .navbar {
        padding: 0.2em 0.5em;

        .nav-list .nav-item {
            margin: 0 0.3em;
        }
    }
    .navbar .nav-list {
        display: none;
    }
}
