#Services .services-container {
    width: 100%;
    padding: 0 4em;

    display: flex;

    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
        width: 22em;
        height: 21em;
        margin: 0.7em 0.7em;
        @include box-shadow(-4px 9px 8px -3px rgba(0, 0, 0, 0.25));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        position: relative;
        background-color: #f0f4f6;

        .content {
            width: 100%;
            height: 75%;
            padding: 0.5em 1em;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 6em;
                filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.25));
            }
            h4 {
                color: $color-primary;
                text-align: center;
                font: {
                    size: 1.5em;
                }
                margin: 0.5em;
                text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
            }
            p {
                color: $color-text-dark;
                text-align: center;
                line-height: 1.3em;
            }
        }

        .wave {
            position: absolute;
            width: 100%;
            bottom: 0;
            margin: 0;
            padding: 0;
            margin-bottom: -1px;
        }
    }
}
@media (max-width: 600px) {
    #Services .services-container {
        padding: {
            top: $nav-height;
            left: 1em;
            right: 1em;
        }
    }
}
@media (max-width: 420px) {
    #Services .services-container .card {
        width: 100%;
        height: 23em;
        .content {
            height: 80%;
            p {
                font-size: 1em;
            }
        }
    }
}
