#Work {
    width: 100%;
    .work-container {
        width: 100%;
        padding: 0 4em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .card {
            position: relative;
            width: 20em;
            height: 15em;
            @include box-shadow;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                .content {
                    bottom: 0;

                    span {
                        opacity: 1;
                    }
                    ul a,
                    i {
                        opacity: 1;
                    }
                }
            }

            .content {
                width: 100%;
                height: 7.5em;
                position: absolute;
                left: 0;
                bottom: -100%;

                backdrop-filter: blur(8px);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em 0.5em;

                transition: bottom 0.3s ease-in-out;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 0.01em;
                    background-color: white;
                }

                span {
                    color: $color-primary;
                    font: {
                        size: 1.5em;
                        weight: 600;
                    }
                    line-height: 1.2em;
                    letter-spacing: 0.05em;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                    transition-delay: 0.3s;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    width: 50%;
                    height: 100%;
                    align-items: flex-end;
                    justify-content: space-around;

                    a,
                    i {
                        color: $color-text-light;
                        font-size: 1.3em;
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                        transition-delay: 0.4s;

                        transition: color $animation-speed;

                        &:hover {
                            color: rgba(0, 0, 0, 0.15);
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    #Work .work-container {
        padding: {
            top: $nav-height;
            left: 1em;
            right: 1em;
        }
    }
}
