//
//	VARIABLES
// ------------------------------------------------------

$font-size-base: 100%;
$font-family: "Roboto", sans-serif;

$color-text-dark: #111;
$color-text-light: #f1f1f1;
$color-footer: #0b0a07;
$color-primary: #008bf8;
$color-secondary: #44ccff;

$debug: false;
$enable-rounded: true;
$animation-speed: 0.25s;

$nav-height: em(80);
$prefooter-height: em(250);
$footer-height: em(50);

$box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
$enable-shadow: true;

$text-shadow: 2px 1.5px -1px rgba(0, 0, 0, 0.527);
